* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e4e4f6;
}

.container {
    width: 80%;
    margin: auto;
}

.sections {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.section-one {
    width: 70%;
    background-color: #3F4CF3;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    height: 80vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-two {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    height: 80vh;
    margin: 10px;
    border: 2px solid rgb(198, 198, 198);
}

.header {
    height: 100px;
}

.icons {
    width: 80px;
    transition: 0.5s;
    height: 80px;
}

.shirt {
    width: 100px;
    height: 100px;
}

.item {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    background: white;
    border-radius: 100%;
    margin-right: 20px;
    transition: 0.5s;
}

.items {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 7em;
    color: #fff;
    margin-top: -50px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.title:hover {
    cursor: pointer;
}

.item:hover,
.icons:hover {
    cursor: pointer;
    width: 170px;
    height: 170px;
}

.shirt:hover {
    cursor: pointer;
    width: 200px;
    height: 200px
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    padding-top: 50px;
}

#getall {
    background: white;
    padding: 10px 20px;
    border-radius: 8px;
    color: #3F4CF3;
}

#getall:hover {
    cursor: pointer;
    background-color: rgb(239, 239, 239);
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chair {
    text-align: center;
    background: #d3d3ea;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.chair-img {
    width: 80px;
    height: 80px;
}

.garment {
    text-align: center;
}

.wash-icon {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.do-laundry {
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #3F4CF3;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 10%;
    right: 5%;
    transition: 0.5s;
}

.wash-icon:hover {
    width: 60px;
    cursor: pointer;
    height: 60px;
}